{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
        <h1 class="h3 my-5 text-center font-weight-normal">Réinitialisation de votre mot de passe</h1>
        <p class="text-center my-5">Un email va vous être envoyé pour réinitialiser votre mot de passe.</p>
        <div class="row justify-content-center mb-5">
            <div class="col-11 col-md-6 col-lg-4 shadow my-3 pt-5 px-3 px-md-5 bg-form">
                {{ form_start(requestPassForm) }}
                    {{ form_row(requestPassForm.username) }}
                    <div class="form-group my-5 text-center">
                        <button type="submit" class="btn mt-3">Envoyer</button>
                    </div>
                {{ form_end(requestPassForm) }}
            </div>
        </div>
</section>
{% endblock %}