{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}


{% block body %}
<main class="container">
    <div class="mb-4 py-5 text-center bg-dark text-white">
      <div >
        
        <h1>Partager vos tricks avec la communauté</h1>
      </div>
    </div>
    
    <div class="row mb-2">
      {% for trick in tricks %}
          <div class="col-md-6">
            <div class="card" style="width: 18rem;">
              <img src="{{asset('assets/pictures/indy.jpg')}}" class="card-img-top" alt="{{trick.name}}">
              <div class="card-body">
                <div class="row">
                  <div class="col"><a href="#"><h5 class="card-title">{{trick.name}}</h5></a></div>
                  <div class="col">
                    <a href="#" class="stretched-link"><i class="fa fa-edit"></i></a>
                    <a href="#" class="stretched-link"><i class="fa fa-trash-alt"></i></a>
                  </div>
                </div>
                
                <div class="mb-1 text-muted">{{trick.createdAt|date('d/m/Y à H:i:s')}}</div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    
        
</main>
{% endblock %}
