{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}


{% block body %}
<main class="container">
    <div class="mb-4 py-5 text-center bg-dark text-white">
      <div >
        
        <h1>Page non trouvée</h1>
      </div>
    </div>
    
    
    
        
</main>
{% endblock %}
