
.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    position: relative;
}
.bg-image h1 {
    margin: 0;
    position: absolute;
    top: 60%;
    /* left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    font-size: 500%;
}
@media screen and (max-width: 480px) {
    .bg-image {
      height: 22rem;
      
    }
    .bg-image h1{
        font-size: 250%;
    }
  }

li * {
    display:inline-block;
    margin:0 10px;
    
}
ul *{
    list-style-type:none;
    padding: 0;
    margin: 0;
    
  }

.card-img-top{
max-height: 600px;
max-width: 600px;
}