<h1>Réinitialisation du mot de passe</h1>
<p>Bonjour {{ user.username }},</p>
<p>Pour réinitaliser votre mot de passe merci de cliquer sur le lien suivant : <a href=" {{url|raw}} "> {{url|raw}} </a> </p>
<p>Merci</p>