{% extends "base.html.twig" %}
{% block title %}Acces refusé{% endblock %}

{% block body %}
    <main class="container">
        <section class="row text-center">
            <div class="col-12">
                <h1>Acces refufé</h1>
                <p>La page que vous cherchez n'est pas accessible vous n'avez pas les autorisations nécessaires</p>
            </div>
        </section>
    </main>
{% endblock  %}